---
import Layout from "../layouts/Layout.astro";

import Header from "../sections/Header.astro";
import About from "../sections/About.astro";
import Activities from "../sections/Activities.astro";
import Achievements from "../sections/Achievements.astro";
import Events from "../sections/Events.astro";
---

<Layout title="Coding Aracati">
  <main>
    <Header />
    <About />
    <Activities />
    <Achievements />
    <Events />
  </main>
</Layout>
