---
const events = [
  {
    title: "1ยบ Meetup Coding Aracati",
  },
  {
    title: "Visita - Front-end CE",
  },
  {
    title: "1ยบ Workshop Coding Aracati",
  },
];
---

<div class="py-10 px-36 md:px-12 max-sm:px-12 flex flex-col items-center">
  <h1 class="text-primary font-semibold text-4xl text-center mb-4">
    Eventos recentes
  </h1>
  <div
    class="grid grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 max-sm:grid-cols-1 gap-6"
  >
    {
      events.reverse().map(({ title }, index) => (
        <div class="flex flex-col items-center mb-4 overflow-hidden rounded-lg max-w-sm">
          <img
            src={`/landing-page/image-${events.length - index}.webp`}
            alt={title}
            class="w-full h-96 object-cover"
          />
          <div class="bg-gray-100 flex-1 w-full text-center p-4">
            <h1 class="text-primary font-semibold text-2xl mt-2 ">{title}</h1>
          </div>
        </div>
      ))
    }
  </div>
</div>
